body{
  color: lightblue !important ;
  background-color: aliceblue !important; 
}



.todo-item{
  border: 1px solid lightblue;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-item.completed {
  background-color: #f0f0f0;  /* 회색 배경 */
  color: #888;  /* 회색 텍스트 */
  text-decoration: line-through;  /* 완료된 항목은 취소선 표시 (선택 사항) */
}
.todo-item.animate-move {
  transform: translateY(20px);  /* 하단으로 이동하는 애니메이션 */
  opacity: 1;  /* 점차 사라지는 효과 */
}

.todo-item.completed.animate-move {
  transform: translateY(0);  /* 원래 위치로 복귀 */
  opacity: 1;  /* 투명도 회복 */
}

.todo-content{
  padding:1em
}
.add-item-row{
  margin-top:50px !important;
  margin-bottom: 30px;
}
.input-box{
  padding: 10px;
  width:100%;
  border: 1px solid lightblue;
  
  
}
.input-box:focus{
  outline: none;
}
.button-add{
  height: 40px;
  width: 100%;
  border: none;
  background-color: lightblue;
  color: white;
}
.button-add:hover{
  background-color: white;
  color: lightblue;
  border: 2px solid lightblue;
}
.button-delete{
  background-color: white;
  border: 2px solid lightblue;
  color: lightblue;
  margin: 10px;
}
.button-delete:hover{
  background-color: lightblue;
  color: #ffffff;
}

.item-complete{
  background-color: gainsboro;
  color:white;
}